<h1>Manage your storage man!</h1>
<section>
  <input type="text" ng-model="search" class="search-query pull-left" placeholder="Search">
  <button ng-click="open()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add new material</button>
</section>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Disposal Date</th>
      <th>Owner</th>
      <th>Description</th>
      <th>Date Recieved</th>
      <th>Location</th>
      <th>Project</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="material in materials | filter:search">
      <td>{{ material.disposaldate }}</td>
      <td>{{ material.owner }}</td>
      <td>{{ material.description }}</td>
      <td>{{ material.datereceived }}</td>
      <td>{{ material.location }}</td>
      <td>{{ material.project }}</td>
      <td>{{ material.category }}</td>
      <td>
        <a href="" ng-click="open(material.$id)"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="" ng-click="deleteMaterial(material)"><span class="glyphicon glyphicon-trash"></span></a>
      </td>
  </tbody>
</tr>
<!-- <div>
Owners: {{ owners }} </br>
Categories: {{ categories }} </br>
Materials: {{ materials }}
</div> -->
